@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.App {
  justify-content: center;
  width: 80vw;
  margin: 1rem auto;
  display: flex;
}
.title {
  color: red;
}

.navbar {
  display: flex;
  margin-left: 4rem;
  margin-top: 1.2rem;
  padding: 0.5rem;
}
.links a {
  text-decoration: none;
  font-weight: 800;
  margin-left: 2rem;
}

.home {
  border: 1px solid black;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.blogs-preview {
  text-align: center;
  cursor: pointer;
  width: 60vw;
  margin: 0 auto;
  padding: 0.5rem 0rem;
  margin-bottom: 2rem;
}

.blogs-preview:hover {
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  box-shadow: 2px 2px 10px;
}
